@media (min-device-width: 650px) {
body {
  background: transparent;
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 80px;
}
}

#info {
  color:#8B0000;
  font-size: 16px;
  font-family: 'Avenir';
  line-height: 160%;
  padding:10px;
  text-align: center;
}
a {
  color: #8B0000;
  text-decoration: none;
}

a:hover {
  border-bottom: 2.5px dotted #056;
}

.img-circle {
    height: 160px;
    width: 160px;
    border-radius: 50%;
}

#home-sketch-frame {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: -2;
  }
